/* ============================================
   FONT SETUP - Glacial Indifference
   ============================================ */

/* 
 * To use Glacial Indifference font:
 * 
 * Option 1: If you have the font files (.woff2, .woff, .ttf)
 * Add them to a /fonts/ directory and use @font-face:
 * 
 * @font-face {
 *     font-family: 'Glacial Indifference';
 *     src: url('../fonts/GlacialIndifference-Regular.woff2') format('woff2'),
 *          url('../fonts/GlacialIndifference-Regular.woff') format('woff');
 *     font-weight: 400;
 *     font-style: normal;
 *     font-display: swap;
 * }
 * 
 * @font-face {
 *     font-family: 'Glacial Indifference';
 *     src: url('../fonts/GlacialIndifference-Bold.woff2') format('woff2'),
 *          url('../fonts/GlacialIndifference-Bold.woff') format('woff');
 *     font-weight: 700;
 *     font-style: normal;
 *     font-display: swap;
 * }
 * 
 * Option 2: If using a font service (like Adobe Fonts, Fonts.com, etc.)
 * Add the @import or <link> tag provided by the service
 * 
 * Currently using Inter as a fallback, which is similar in style
 */

